<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@proyecto.edit.headline">Edit Proyecto</h1>
    <div>
        <a routerLink="/proyectos" class="btn btn-secondary" i18n="@@proyecto.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@proyecto.id.label" label="Id" />
    <app-input-row [group]="editForm" field="titulo" i18n-label="@@proyecto.titulo.label" label="Titulo" />
    <app-input-row [group]="editForm" field="descripcion" i18n-label="@@proyecto.descripcion.label" label="Descripcion" />
    <app-input-row [group]="editForm" field="urlRepo" i18n-label="@@proyecto.urlRepo.label" label="Url Repo" />
    <app-input-row [group]="editForm" field="categoria" i18n-label="@@proyecto.categoria.label" label="Categoria" />
    <app-input-row [group]="editForm" field="estado" rowType="select" [options]="{'BORRADOR': 'BORRADOR', 'ACTIVO': 'ACTIVO', 'CERRADO': 'CERRADO', 'ARCHIVADO': 'ARCHIVADO'}" i18n-label="@@proyecto.estado.label" label="Estado" />
    <app-input-row [group]="editForm" field="autor" rowType="select" [options]="autorValues" i18n-label="@@proyecto.autor.label" label="Autor" />
    <app-input-row [group]="editForm" field="skills" rowType="multiselect" [options]="skillsValues" i18n-label="@@proyecto.skills.label" label="Skills" />
    <input type="submit" i18n-value="@@proyecto.edit.headline" value="Edit Proyecto" class="btn btn-primary mt-4" />
</form>
