<div class="container mt-5">
  <h2>Mis Proyectos</h2>

  @if (state.loading()) {
    <div>Cargando...</div>
  }

  <div class="row">
    <!-- LISTA izquierda -->
    <div class="col-md-4">
      @for (proyecto of state.misProyectos(); track proyecto.id) {
        <div
          class="card mb-2 cursor-pointer"
          (click)="state.seleccionar(proyecto, 'mi')"
          [class.border-primary]="state.selectedMiProyecto()?.id === proyecto.id"
        >
          <div class="card-body">
            <h6>{{ proyecto.titulo }}</h6>
            <small>{{ proyecto.estado }}</small>
          </div>
        </div>
      }
    </div>

    <!-- DETALLE derecha -->
    <div class="col-md-8">
      @if (state.selectedMiProyecto(); as proyecto) {
        <jhi-proyecto-detail [proyecto]="proyecto" />
      } @else {
        <div class="alert alert-info">Selecciona un proyecto</div>
      }
    </div>

    <button
      id="jh-create-entity"
      data-cy="entityCreateButton"
      class="btn btn-primary jh-create-entity create-proyecto"
      [routerLink]="['/proyecto/new']"
    >
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="bugoverflowApp.proyecto.home.createLabel">Nuevo Proyecto</span>
    </button>

    <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
    </button>
  </div>
</div>
