spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bugoverflow
    username: user
    password:
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true
error:
  handling:
    http-status-in-json-response: true
    exception-logging: NO_LOGGING
    full-stacktrace-http-statuses: 5xx
    log-levels:
      5xx: ERROR
    codes:
      PerfilUsuarioUsuarioUnique: PERFIL_USUARIO_USUARIO_UNIQUE
      UsuarioLoginUnique: USUARIO_LOGIN_UNIQUE
      UsuarioEmailUnique: USUARIO_EMAIL_UNIQUE
