<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@usuarioSkill.add.headline">Add Usuario Skill</h1>
    <div>
        <a routerLink="/usuarioSkills" class="btn btn-secondary" i18n="@@usuarioSkill.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="userId" rowType="number" i18n-label="@@usuarioSkill.userId.label" label="User Id" />
    <app-input-row [group]="addForm" field="skillId" rowType="number" i18n-label="@@usuarioSkill.skillId.label" label="Skill Id" />
    <app-input-row [group]="addForm" field="nivelInteres" rowType="number" i18n-label="@@usuarioSkill.nivelInteres.label" label="Nivel Interes" />
    <app-input-row [group]="addForm" field="usuario" rowType="select" [options]="usuarioValues" i18n-label="@@usuarioSkill.usuario.label" label="Usuario" />
    <app-input-row [group]="addForm" field="skill" rowType="select" [options]="skillValues" i18n-label="@@usuarioSkill.skill.label" label="Skill" />
    <input type="submit" i18n-value="@@usuarioSkill.add.headline" value="Add Usuario Skill" class="btn btn-primary mt-4" />
</form>
